<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518326819317-n08dde3qoatau0ehc3kphfu7bvqg3osk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518326819317-n08dde3qoatau0ehc3kphfu7bvqg3osk</string>
	<key>API_KEY</key>
	<string>AIzaSyC51Y3oaL5Y9czD-3sk6XaxJGPcxj7XfMA</string>
	<key>GCM_SENDER_ID</key>
	<string>518326819317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caregiverApp</string>
	<key>PROJECT_ID</key>
	<string>caregiver-754a6</string>
	<key>STORAGE_BUCKET</key>
	<string>caregiver-754a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518326819317:ios:87c2c49e79dcc2cb2368bc</string>
</dict>
</plist>